.skills__card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 10vw;
	height: 30vh;

	background: var(--color-bg-variant);
	border: 1px solid transparent;
	border-radius: 1rem;
	padding: 2rem;
	text-align: center;
	transition: var(--transition);
}

.skills__card-image {
	height: 10vh;
	width: 7vw;
	border-radius: 0;
}

.skills__card:hover {
	background: transparent;
	border-color: var(--color-primary-variant);
	cursor: default;
}

/* MEDIA QUERIES (MEDIUM) */

@media screen and (max-width: 1024px) {
	.skills__container {
		flex-direction: row;
		height: 87%;
	}

	#skills {
		margin-top: 30rem;
	}
}
/* MEDIA QUERIES (SMALL) */

@media screen and (max-width: 600px) {
	#skills {
		padding-top: 30rem;
		padding-bottom: 50rem;
	}

	.skills__container {
		flex-direction: row;
		gap: 1rem;
	}

	.card__container-top {
		width: 25%;
	}
	.skills__card {
		width: 100%;
	}
}

@media screen and (max-width: 420px) {
	#skills {
		padding-top: 10rem;
		padding-bottom: 70rem;
	}

	.skills__container {
		flex-direction: row;
		gap: 0.5rem;
	}

	.card__container-top {
		width: 30%;
	}
	.skills__card {
		width: 100%;
	}
}
